/* 
* 
* Index
*
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color:#112C73;

    background-color: #FFD059;
    margin:0;
    padding:0;
}

header{
    background-color: #112C73;
    text-align: center;
    padding-left: 5em;
}

#imagen_portada{
    margin-bottom: 0px;
    padding-bottom: 0px;
    max-width: 100%;
}

nav ul{
    padding:0;
    margin-top: 0;

    display: flex; 
    justify-content: center;
}

nav li{
    list-style: none;
    padding: 1% 2%;
    width: fit-content;
}

.nav_opciones{
    color:#112C73;
    text-decoration: none;
    font-weight: bold;
}

nav li:hover{
    .nav_opciones{
        color: #E62520;
    }
}

#cuerpo_pagina{
    display: flex;
}

#div_texto{
    position:absolute;
    margin-right: 30%;
    margin-left: 30%;
    width: 40%;
}

#texto{
    text-align: center;
    font-size: 300%;
    color: #E62520;
    font-weight: bolder;
    font-style: italic;
}

#div_imagen{
    width: 40%;
}

#imagen_t{
    width: 100%;
}

#imagen_cuerpo{
    width: 100%;
}

aside{
    width: 30%;
}

#div_acceso{
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
}

#acceso{
    color: #112C73;
}

#contra{
    text-decoration: none;
}

#contra:link{
    color: #E62520;
}

#contra:visited{
    color: #112C73;
}

#contra:hover{
    color: #112C73;
}

#contra:active{
    color: #FFD059;
}

.labels{
    width: 90%;
}

.submit_button{
    border: solid 1px black;
    background-color: white;
    margin: 3% 0;
    padding: 0 5%;
    cursor: pointer;
}





footer{
    background-color: #112C73;
}

#div_footer{
    text-align: center;
}

.social_icons{
    display: inline-block;
}

.social_icons ul{
    list-style: none;
    margin: 0 10%;
    padding: 0;
}

.social_icons ul li{
    display: inline-block;
    text-align: center;

}

.social_icons ul li img{
    width: 50%;
    margin-top: 10%;
}

.social_icons_diffferent{
    width: 40%;
    text-align: right;
}

.social_icons_cookin{
    width: 40%;
    text-align: left;
}





/*
footer{
    background-color: #112C73;
}

#copyright{
    color: #E62520;
    float: left;
    position: absolute;
    padding-top: 24px;
    max-height: 50px;
}

#social_icons{
    text-align: center;
}

#social_icons>ul{
    display: table;
    margin-left: 30%;
    width: 40%;
    list-style: none;
    margin: 0 auto;
}

#social_icons>ul>li{
    display: inline-table;
    padding: 2% 10%;
}

#social_icons>ul>li>img{
    width: 70%;
    margin-top: 0.2em;
} */

/* 
* 
* Peliculas 
*
*/
hr{
    border:solid 2px #E62520;
    margin: 0;
}

.div_color{
    display: flex;
    height: 600px;
    text-align: justify;
    text-align-last: center;
    align-items: center;
}

.div_texto_color{
    margin: 0 4%;
    max-width: 50%;
}

.div_video_color{
    margin: 1% 4%;
    background-color: black;
    width: 270rem;
    height: 25rem;
    max-width: 40%;
}

.div_video_color>iframe{
    background-color: white;
    width: 100%;
    height: 100%;
}

.div_amarillo{
    background-color: #FFD059;
    color: #112C73;
}

.div_azul{
    background-color: #112C73;
    color: #FFD059;
}