/*
  Index
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #112C73;

    background-color: #FFD059;
    margin: 0;
    padding: 0;
}

.div_header {
    background-color: #112C73;
    text-align: center;
    padding-left: 5em;
}

#perma_icono {
    position: fixed;
    padding: 10px 0px 0px 10px;
}

#perma_icono img {
    width: 40%;
}

#imagen_portada {
    margin-bottom: 0px;
    padding-bottom: 0px;
    max-width: 100%;
}

nav ul {
    padding: 0;
    margin-top: 0;

    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    padding: 1% 2%;
    width: fit-content;
}

.nav_opciones {
    color: #112C73;
    text-decoration: none;
    font-weight: bold;
}

nav li:hover {
    .nav_opciones {
        color: #E62520;
    }
}

#cuerpo_pagina {
    display: flex;
}

#div_texto {
    position: absolute;
    margin-right: 30%;
    margin-left: 30%;
    width: 40%;
}

#texto {
    padding-top: 2%;
    text-align: center;
    font-size: 300%;
    color: #E62520;
    font-weight: bolder;
    font-style: italic;
}

#div_imagen {
    width: 40%;
}

#imagen_t {
    width: 100%;
}

#imagen_cuerpo {
    width: 100%;
}

aside {
    width: 30%;
}





/*
  Panel acceso
*/
#div_acceso {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    font-size: 0.7em;
}

#acceso {
    color: #112C73;
}

#acceso th {
    text-align: right;
}

#contra {
    text-decoration: none;
}

#contra:link {
    color: #E62520;
}

#contra:visited {
    color: #112C73;
}

#contra:hover {
    color: #112C73;
}

#contra:active {
    color: #FFD059;
}

.labels {
    width: 90%;
}

.submit_button {
    border: solid 1px black;
    background-color: white;
    margin: 3% 0;
    padding: 0 5%;
    cursor: pointer;
}




/*
  Footer
*/
footer {
    background-color: #E62520;
}

#div_footer {
    text-align: center;
}

#div_footer div {
    display: inline-block;
}

#div_footer div ul {
    list-style: none;
    margin: 0 4%;
    padding: 0;
    display: flex;
}

#div_footer div ul li {
    /* display: inline-block; */
    text-align: center;
    width: 50%;
}

/* #div_footer div ul li img {
    width: 50%;
    margin-top: 10%;
} */

.icon_youtube{
    width: 50%;
    margin-top: 10%;
}

.icon_facebook{
    width: 10px;
    /* margin-top: 10%; */
}

.icon_instagram{
    /* width: 10px; */
    /* margin-top: 10%; */
}

#social_icons_diffferent {
    /* width: 20%; */
    text-align: right;
}

#social_icons_cookin {
    /* width: 20%; */
    text-align: left;
}

#separador {
    border: 1px solid white;
    vertical-align: unset;
    height: 30px;
}




/*
  Peliculas 
*/
hr {
    border: solid 2px #E62520;
    margin: 0;
}

.div_color {
    height: 30rem;
}

.div_azul {
    background-color: #112C73;
    color: #FFD059;
}

.table_color {
    height: 100%;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.table_color {
    border-collapse: collapse;
}

.column_azul {
    border: 3px solid #FFD059;
    border-top: 0;
    border-bottom: 0;
}

.column_amarillo {
    border: 3px solid #112C73;
    border-top: 0;
    border-bottom: 0;
}

.first_column {
    border-top: 3px solid #112C73;
}

.last_column {
    border-bottom: 3px solid #FFD059;
}

.last_div_color {
    padding-bottom: 3%;
}

.column_1 {
    width: 40%;
    height: 100%;
    max-width: 50%;
}

.column_1>iframe {
    width: 100%;
    height: 85%;
    border: none;
    /* padding-left: 5%; */
}

.column_2 {
    width: 20%;
    text-align: center;
}

.column_3 {
    width: 20%;
    padding: 0 2% 0 2%;
}

.column_4 {
    width: 15%;
    padding-left: 1%;
    padding-right: 1%;
}

.column_4>h5 {
    margin-bottom: 2%;
}

.column_4>p {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.tabla_secundaria {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.columna_secundaria_1 {
    width: 50%;
}

.columna_secundaria_2 {
    width: 50%;
    text-align: right;
}






/*
    Sobre mí (CV)
*/
#body_sobremi {
    background-color: rgb(30, 30, 30);
    color: rgb(30, 30, 30);
}

#todo_cv {
    padding: 1% 0 1% 0;
}

#div_cv {
    background-color: rgb(230, 230, 230);
    border: solid 1px black;
    width: 50%;
    padding: 1% 0 1% 5%;
    margin-left: 20%;
}

#cabecera_cv>h1 {
    text-align: center;
    margin-bottom: 5%;
}

#div_user {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5%;
}

#div_user img {
    width: 100%;
}

#div_user_datos {
    padding-right: 10%;
}

#descripcion_user>p {
    margin-bottom: 1%;
}

#datos_user {
    display: inline-flex;
    font-size: 13px;
}

.div_datos>ul>li{
    margin: 2% 0 2% 0;
    padding-left: 5%;
}

#social_user {
    display: flex;
    width: 15%;
    height: auto;
    margin-top: 1%;
}

#cuerpo_cv {
    display: flex;
    justify-content: space-between;
}

#cuerpo_cv h3{
    color: rgb(90, 90, 90);
}

.div_datos {
    width: 80%;
}

#div_experiencia {
    text-align: left;
}

#datos_der {
    height: 100%;
    text-align: left;
}

#linea {
    width: 70%;
    margin: 3% 0 3% 7%
}

#linea>hr {
    border: 1px solid black;
}








/*
    Juegos
*/

.imagen_juego {
    width: 100%;
}

.column_amarillo_1:hover .imagen_cookie {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: transform 600ms ease-in-out;
    box-shadow: 0px 0px 15px 15px #E62520;
}

.column_amarillo_1 {
    overflow: hidden;
}

.imagen_vampire:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: transform 600ms ease-in-out;
    box-shadow: 0px 0px 15px 15px #E62520;
}

.imagen_pokemmo:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 600ms ease-in-out;
    box-shadow: 0px 0px 15px 15px #E62520;
}

.imagen_minecraft:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #E62520;
    -webkit-box-shadow: 0px 0px 15px 15px #E62520;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: transform 600ms ease-in-out;
}






/*
    Series
*/

.imagen_serie {
    width: 100%;
}

.imagen_malviviendo:hover {
    filter: blur(3px);
}

.imagen_comaland:hover {
    filter: grayscale(1);
}

.imagen_criminalistica:hover {
    filter: saturate(180);
}

.imagen_flaman:hover {
    filter: opacity(0.5);
}