body{
    background-color: #FFD059;
    margin:0;
    padding:0;
}

#imagen_portada{
    width: 100%;
}

nav>ul{    
    margin-top: 0;
    text-align: center;
    background-color: #112C73;
}

nav>ul>li{
    display: inline-flex;
    padding: 1% 2%;
    width: 15%;
}

.nav_opciones{
    color:#FFD059;
}

nav>ul>li:hover{
    .nav_opciones{
        color: #E62520;
    }
}

#cuerpo_pagina{
    display: flex;
    justify-content: center;
    text-align: center;
}

#imagen_cuerpo{
    width: 100%;
}

aside{
    width: 30%;
}


#acceso{
    float: left;
    margin-top: 10%;
    margin-left: 10%;
    color: #112C73;
}

.submit_button{
    border: solid 1px white;
    background-color: white;
    margin: 3% 0;
    padding: 0 5%;
}

footer{   
    padding-left: 1%;
    background-color: #112C73;
    width: 99%;
}

footer>div{
    color: #E62520;/*
    padding:0.1em;  */
    display: inline-block;
}

#copyright{
    float: left;
}

#social_icons{
    margin-left: 30%;
    
}

#social_icons>ul>li{
    display: inline-flex;
}

#social_icons>ul>li>img{
    width: 80%;/*
    margin: 0% 10%;
    padding: 0% 10%;*/
}